<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #8C00FF;" >
  <a class="navbar-brand" href="#">
    <img src="../assets/logo_blanco.png" alt="">
  </a>
  
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/inicio">Inicio</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/preguntasFrecuentes">Preguntas Frecuentes</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/mejoresPeliculas">Mejores peliculas</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/contacto">Contacto</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/iniciarSesion">Iniciar sesion</a>
      </li>
      
      
    </ul>
  </div>
</nav>

 





<router-outlet></router-outlet>